.About {
  background-image: url("/.././beer_background.jpg");
  padding: 50px 5px 100px 5px;
  height: 100%;
}

.About .introduction {
  text-align: center;
  margin-bottom: 20px;
}

.About h1 {
  font-size: 52px;
}
.About h3 {
  font-size: 27px;
}

.About .title {
  font-size: 1.5em;
  /* color: wheat; */
}

.About p {
  font-size: 1.2em;
  /* color: whitesmoke; */
}

.About .values-container {
  text-align: center;
}

.About .hook {
  text-align: center;
  margin: 30px auto;
  background-color: teal;
  color: aliceblue;
  border-radius: 2em;
  padding: 5px 0;
}

.About a {
  color: aliceblue;
}

.About .hook:hover {
  background-color: #12fa85;
  color: black;
}
