.LogList {
  background-color: whitesmoke;
  height: 800px;
  padding: 15px 5px;
}

.LogElementCard {
  width: 100%;
  margin: 0;
  padding: 0;
}

.LogList .ui.card {
  margin: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.LogElement {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgb(224, 239, 250);
  border: 1px solid grey;
  justify-content: space-between;
  align-items: center;
  border-radius: 2em;
  margin: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.LogElement button {
  max-width: 200px;
  padding: 10px 10px;
  height: 35px;
  width: 35px;
  margin: 10px;
  font-size: 1.25rem;
  background-color: dodgerblue;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 2em;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
}

.LogElement button:hover {
  background-color: #12fa85;
  color: black;
}

.LogElement #delete {
  background-color: red;
  color: aliceblue;
  max-width: 200px;
  padding: 10px 10px;
  height: 35px;
  width: 35px;
  margin: 10px;
  font-size: 1.25rem;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 2em;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
}

.LogElement #edit {
  background-color: green;
  color: aliceblue;
}

.LogElement .beer-info {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  /* border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
  background-color: dodgerblue; */
}

.LogElement .beer-info * {
  padding: 0;
  margin: 0;
}

.LogElement .options {
  display: flex;
}

.LogElement .fa-edit,
.LogElement .fa-trash-alt {
  height: 15px;
  width: 15px;
}
