.NavMain {
  background-color: #8ecff4;
  color: rgb(57, 57, 57);
  display: flex;
  align-items: center;
  padding: 20px;
  height: 80px;
  width: 100%;
  position: fixed;
  margin: 0;
  left: 0;
  bottom: 0;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}
