.NavMain {
  background-color: #8ecff4;
  color: rgb(57, 57, 57);
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  padding: 15px;
  height: 80px;
  width: 100%;
  position: fixed;
  margin: 0;
  left: 0;
  bottom: 0;
}

.NavMain * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavMain .fa-sign-in-alt {
  width: 35px;
  height: auto;
}

.NavMain .fa-clipboard-list {
  width: 25px;
  height: auto;
}

.NavMain .profileImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid blue;
}
